@use './styles/variables.scss' as *;

.loading-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-light;

  .loading-spinner {
    font-size: 1.2em;
    color: $text-dark;
  }
}
